@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Cherry+Cream+Soda&display=swap');

.Viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}

input {
    width: 100%;
}

.Cocktail {
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 1px;
}

.Cocktail h1 {
    font-family: 'Cherry Cream Soda';
    font-size: 1.5em;
    margin: 0;
}

.selected {
    border-width: 2px;
}

.AdditionalInfo {
    font-family: 'Alegreya', serif;
}

.ingredients {
    padding-left: 8px;
}

.editIcon {
    vertical-align: bottom;
    margin-left: 12px;
    cursor: pointer;
}