.Editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 400px;
    margin: auto;
}

.input {
    width: 100%;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.ingredients {
    flex-grow: 1;
}

.ingredientRow {
    display: flex;
    margin-top: 3px;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.ingredientAmountInput {
    margin-right: 3px;
    width: 50px;
}

.glassInfo {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px 5px 0px;
}

textarea {
    height: 6em;
    resize: vertical;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.buttons>* {
    margin: 20px;
}

.alert {
    color: red;
    width: 100%;
    padding-left: 100px;
    margin-top: 10px;
}

.glassImg {
    box-sizing: border-box;
    max-width: 60px;
    margin-left: 10px;
    border: 2px solid white;
}

.selectedGlassImg {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px gray;
    outline: none;
}